@use "primevue-variables" as *;
@use "variables" as *;

/* Body */
@mixin body {
  color: $p-gray-700;
  font-size: $font-16;
  font-weight: 400;
}

/* Headers */
@mixin header {
  color: $p-gray-900;
  font-size: $font-24;
  font-weight: 600;
}

/* Links */
@mixin link {
  border: 1px solid transparent;
  border-radius: 4px;
  color: $p-indigo-600;
  font-size: $font-16;
  font-weight: 500;
  text-decoration: none;

  &:focus-visible {
    border-color: $p-indigo-600;
  }

  &:hover {
    color: $p-indigo-500;
  }
}
