@use "primevue-variables" as *;
@use "variables" as *;

/* Dark mode */
@mixin dark {
  html.dark-theme & {
    @content;
  }
}

/* Body */
@mixin body {
  color: $p-zinc-700;
  font-size: $font-16;
  font-weight: 400;

  @include dark {
    color: $p-zinc-300;
  }
}

/* Headers */
@mixin header {
  color: $p-zinc-900;
  font-size: $font-24;
  font-weight: 600;

  @include dark {
    color: $white;
  }
}

/* Links */
@mixin link {
  border: 1px solid transparent;
  border-radius: 4px;
  color: $p-indigo-600;
  font-size: $font-16;
  font-weight: 500;
  text-decoration: none;

  &:focus-visible {
    border-color: $p-indigo-600;
  }

  &:hover {
    color: $p-indigo-500;
  }

  @include dark {
    color: $p-indigo-400;

    &:focus-visible {
      border-color: $p-indigo-400;
    }

    &:hover {
      color: $p-indigo-300;
    }
  }
}
